h2{font-family: cursive;
    font-style: italic;
    text-decoration: underline;
    color: blueviolet;
    text-align: -webkit-center;
    margin-top: 40px;
    margin-bottom: 60px;
    font-weight: 500;
    line-height: 1.1;
    font-weight: bold;
    font-size: xxx-large;
}
h3{color: indianred;
    font-family: monospace;
    font-style: oblique;
    font-weight: bold;
    font-size: xxx-large;
    text-align: -webkit-center;
    margin-top: 20px;
    margin-bottom: 10px;
    }
p{font-weight: bold;
    font-size: medium;
    font-size: larger;
    font-style: italic;
    font-variant: all-petite-caps;
    text-align: center;
    MARGIN-BOTTOM: 60PX;
    }
img{margin-left: 0PX;
    
}
.section {
    padding-top: 0px;
    padding-bottom: 0px;
}
h4{margin-left: 50PX;}