@media(min-width: 768px) {
    .field-label-responsive {
      padding-top: .5rem;
      text-align: right;
    }
  }
  
h3{MARGIN-LEFT: 150PX;
    font-weight: bold;
    font-family: monospace;
    font-size: xx-large;
    font-style: italic;}
   
 